:root {
	--background-primary: #1f2a48;
	--background-secondary: #141c2f;
	--button-primary: #0277f7;
	--text-primary: #f2f6ff;
	--text-secondary: #5f6982;
	--background-stats: #141c2f;
}

* {

}

#__screen {

}

.container {
	
}

button {
	
}

.heading {
	
}

.logo {
	
}

.search-form {
	
}

.search-form input {
	
}

.search-form img {
	
}

.details {
	
}

.personal {
	
}

.user-avatar {

}

#text {
	
}

.username {
	
}

.bio {
	
}

.stats {

}

table {
	
}

.t-header {
	
}

.t-header th {

}

td {
	
}

.additional-data {
	
}

.grid-member {
	
}

@media (max-width: 520px){
	.container{
		
	}
}
